<div class="ui basic inverted segment no-bg">
  <div class="ui grid">
    <div class="two column row">
      <div class="left aligned column">
        <h3 class="ui inverted header">
          {{ game.status === 'in-progress' ? 'Now Playing' :
          'Next beatmap' }}
        </h3>
      </div>
    </div>
  </div>
  <div [ngStyle]="getBgStyles()" class="beatmap-bg" *ngIf="beatmap">
    <div class="ui basic inverted segment">
      <div class="ui inverted relaxed list">
        <div class="item">
          <div class="ui stackable grid">
            <div class="eight wide column">
              <a [href]="beatmapHref" target="_blank" class="beatmap-link">
                <h3>
                  {{ beatmap.artist }} - {{ beatmap.title }}
                </h3>
                <p>
                  <i class="bullseye icon"></i> {{
                  beatmap.version }}
                </p>
              </a>
            </div>
            <div class="eight wide right aligned column">
              <p>
                Star Difficulty: <i class="yellow star outline icon"></i>
                {{ starRating }}
              </p>
              <p>
                Map Length: <i class=" stopwatch icon"></i> {{
                duration }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui placeholder inverted segment" *ngIf="game.status === 'in-progress' && isAlive">
    <div class="ui icon header">
      <i class="bullhorn icon"></i>
      Round has started! Play the above map now.
    </div>
    <div class="center aligned">
      <p align="center">
        You can play with any rankable mods (including No Fail).
        <br>
        Try the map as many times as you want within the time
        limit, only your highest score will count.
        <br>
        Make sure you play the correct difficulty!
      </p>
      <!-- <div class="ui primary button">
        Check score
      </div> -->
    </div>
  </div>
</div>
