.beatmap-bg {
  height: 150px;

  .ui.inverted.segment {
    background: none;
  }

  h3,
  h4 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .ui.inverted.list .item a:not(.ui).beatmap-link:hover {
    color: white !important;
  }

  p {
    margin: 0;
  }
}


.ui.grid {
  margin-bottom: 10px;
}
