h3,
h4,
h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.beatmap-version {
  font-weight: 400;
}

.beatmap-bg {
  .ui.inverted.segment {
    background: none;
  }

  .ui.inverted.list .item a:not(.ui).beatmap-link:hover {
    color: white !important;
  }

  p {
    margin: 0;
  }
}


.ui.grid {
  margin-bottom: 10px;
}

.ui.placeholder.segment {
  background: #04522f;
}
