<div class="ui inverted basic segment no-bg">
  <h3 *ngIf="!myScore && inGame">
    <p>
      You did not set a score this round.
    </p>
  </h3>
  <h3 *ngIf="myScore">Your best score</h3>
  <div *ngIf="myScore">
    <app-scores-table [scores]="[myScore]" [currentUser]="currentUser" [game]="game"></app-scores-table>
  </div>
  <h3>Round {{ game.roundNumber }} scores</h3>
  <div class="scores-container">
    <app-scores-table [scores]="scores" [currentUser]="currentUser" [game]="game"></app-scores-table>
  </div>
  <p class="m-top" *ngIf="playersNoScore.length">
    The following players failed to set a score for this round in time: {{ playersNoScore.join(', ') }}
  </p>
</div>
