h5 {
  margin: 0;
}

.ui.inverted.segment {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.ui.inverted.list {
  max-height: 185px;
  flex: 0 1 185px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  overflow-y: auto;
  background: #252424;
  padding: 10px;
  margin-bottom: 0;

  .item {
    flex: 1;
    display: block;

    .image-container {
      float: left;
      width: 38px;
    }

    .content {
      float: right;
      width: calc(100% - 38px);
    }
  }
}

.ui.input {
  border-top: 1px solid #313131;

  input {
    background: #1d1d1d;
    color: rgba(255, 255, 255, 0.9);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

form {
  .icon.button {
    box-shadow: none !important;
    color: rgba(255, 255, 255, 0.8) !important;

    &:focus {
      color: inherit;
    }

    &:hover {
      background: #627eb9 !important;
    }

    &:not(:hover) {
      background: #484848 !important;
    }
  }
}
