:host {
  flex: 0 1 auto;
  box-shadow: 0px 0px 6px #222021;
  box-shadow: 0px 0px 5px black;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 5px;
  background: #272525;
  margin-top: auto;
}

h5 {
  margin: 0;
}

.ui.inverted.list {
  flex: 1 0 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  background: #252424;
  margin: 0;
  min-height: 0;
  scrollbar-width: thin;

  .item {
    flex: 0;
    display: block;
    padding: 2px 8px 5px;

    .image-container {
      float: left;
      width: 38px;
    }

    .content {
      float: right;
      width: calc(100% - 38px);

      .header {
        color: rgba(255, 255, 255, 0.726);

        .system-name {
          color: rgba(255, 255, 255, 0.911);
          background-color: rgba(186, 67, 255, 0.609);
          padding: 1px 4px;
          border-radius: 5px;
        }
      }

      .description.chat-message {
        color: rgba(255, 255, 255, 0.9);
      }
    }
  }
}

form {
  flex: 0 0 auto;
  margin-top: 5px;

  .ui.input {
    border-top: 1px solid #313131;

    input {
      background: #1d1d1d;
      color: rgba(255, 255, 255, 0.9);
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .icon.button {
    box-shadow: none !important;
    color: rgba(255, 255, 255, 0.8) !important;

    &:focus {
      color: inherit;
    }

    &:hover {
      background: #627eb9 !important;
    }

    &:not(:hover) {
      background: #484848 !important;
    }
  }
}
