.wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
}

.main {
  display: flex;
  width: 100%;
  height: 75vh;

  .segment {
    width: 100%;
    height: 100%;
    padding: 0;
  }

}

.lower {
  display: flex;
  width: 100%;
  height: 25vh;
}

.game-info {
  flex: 1 0 320px;
  display: flex;
  flex-direction: column;
  background: #1b1c1d;
  overflow: hidden;
}

.user-list {
  flex: 0 0 250px;
  border-left: 1px solid #2b2b2b;
}

.chat-section {
  flex: 1;
  border-top: 1px solid #2b2b2b;
}
