<div class="wrapper" *ngIf="game">
  <div class="header">
    <app-game-info [game]="game" [timeLeft]="timeLeft" [inGame]="inGame"></app-game-info>
  </div>
  <div class="main">
    <div class="left">
      <div class="lobby-details" [suiTransition]="transitionController">
        <app-join-game [game]="game" [inAnotherGame]="inAnotherGame" *ngIf="showJoinGame"></app-join-game>
        <app-game-status [viewingRoundResults]="game.status === 'complete' || viewResults" [toggleViewResults]="toggleViewResults"
          [timeLeft]="timeLeft" [game]="game" [isAlive]="isAlive" [inGame]="inGame" [mePlayer]="mePlayer"
          [totalPlayers]="players.length"></app-game-status>
        <app-match-results [toggleViewResults]="toggleViewResults" *ngIf="game.status === 'complete' || viewResults"
          [game]="game"></app-match-results>
        <app-beatmap-list [beatmaps]="beatmaps" *ngIf="showBeatmaps"></app-beatmap-list>
        <app-beatmap-info *ngIf="showBeatmap" [timeLeft]="timeLeft" [game]="game" [beatmap]="currentBeatmap" [isAlive]="isAlive"></app-beatmap-info>
        <app-scores-list *ngIf="showScores" [inGame]="inGame" [currentUser]="currentUsername" [game]="game" [scores]="game.scores"></app-scores-list>
      </div>
      <app-chat [game]="game" [messages]="messages" [getMoreMessages]="getMoreMessages" [canChat]="mePlayer">
      </app-chat>
    </div>
    <div class="right">
      <app-user-list [currentUser]="currentUsername" [players]="players" [winningUser]="game.winningUser && game.winningUser.username"></app-user-list>
    </div>
  </div>

</div>

<div *ngIf="isAdmin">
  <div style="position: absolute; top: 0; right: 0; z-index:999;" class="ui mini button" (click)="skipRound()">Skip
  </div>
  <div style="position: absolute; top: 0; right: 50px; z-index: 999;" class="ui mini button" (click)="toggleFreeze()">Freeze</div>
</div>
