.wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
}

.main {
  display: flex;
  width: 100%;
  height: 75vh;
  flex: 1;
  overflow-y: auto;
}

.left {
  flex: 1 0 320px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #3c3b3b;

  .ui.inverted.segment {
    background-color: #3c3b3b;
  }
}

.lobby-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.right {
  flex: 0 0 250px;
  border-left: 1px solid #232222;
  background: #2c2a2a;
  overflow-y: auto;
}
