.ui.inverted.segment {
  padding-bottom: 0;
}

.ui.inverted.list {
  margin: 0;

  .item {
    padding: 0.5em 1em;

    &.dead {
      background: rgba(200, 50, 50, 0.2) !important;
    }

    &.winner {
      background: rgb(37, 126, 37) !important;
    }

    &:hover {
      &:not(.dead) {
        background: rgb(46, 46, 46);
      }
    }

    .ui.avatar.image {
      width: 40px;
      height: auto;
    }

    .flag {
      margin-right: 0;
    }
  }

}
