.ui.inverted.segment {
  margin-bottom: 0;
  border-radius: 0;
  height: 76px;
  border-bottom: 1px solid #2b2b2b;
}

.ui.inverted.list {
  margin: 0;

  .item {
    padding: 0.5em 1em;

    &.dead {
      background: rgba(200, 50, 50, 0.2);
    }

    &:hover {
      &:not(.dead) {
        background: rgb(46, 46, 46);
      }
    }

    .ui.avatar.image {
      width: 40px;
      height: auto;
    }

    .flag {
      margin-right: 0;
    }
  }

}
