<div class="ui inverted compact segment no-bg" (document:click)="onDocumentClick()">
  <h4>Players ({{ alivePlayers.length }}/{{ players.length }})</h4>
  <p *ngIf="!players.length">
    No players have joined yet.
  </p>
</div>
<div class="ui relaxed inverted list" *ngIf="players.length">
  <a class="item user" *ngFor="let player of sortedPlayers"
    [ngClass]="player.alive ? 'alive' : 'dead'" [class.winner]="winningUser === player.username"
    (click)="showPlayerStats(player)">
    <div class="image-container">
      <img class="ui mini image" [useSrcset]="true" [lazyLoad]="'//a.ppy.sh/' + player.osuUserId"
        alt="">
    </div>
    <div class="content">
      <div class="header">
        <i class="fitted flag" [ngClass]="player.country.toLowerCase()"></i>
        <span [class.my-name]="currentUsername === player.username">{{
          player.username }}</span>
      </div>
      <div class="description">
        {{ player.ppRank ? ('#' + (player.ppRank | number)) : '—' }}
        <span *ngIf="winningUser === player.username" class="text-muted">Winner</span>
        <span *ngIf="player.kicked"
          class="text-muted">
          Player Kicked
        </span>
        <span *ngIf="player.gameRank && winningUser !== player.username"
          class="text-muted">
          Finished {{ player.gameRank | ordinal }}
        </span>
      </div>
    </div>
    <div class="user-rating" *ngIf="showUserStats === player.username">
      <div class="header"> <i class="fitted flag" [ngClass]="player.country.toLowerCase()"></i>
        {{ player.username }}
      </div>
      <div class="content">
        <a target="_blank" [routerLink]="['/user', player.username]"
          class="ui mini primary button">
          View Profile
        </a>
        <div *ngIf="isModerator"
          class="ui mini red button" (click)="kickPlayer(player)">
          Kick player
      </div>
        <p>
          <i class="blue globe icon"></i>
          Rank: {{ player.ppRank ? ('#' + (player.ppRank | number)) : '—' }}
        </p>
        <p>
          <i class="teal crosshairs icon"></i>
          Rating: {{ (player.rating.mu - 3* player.rating.sigma).toFixed(0) }}
        </p>
        <p>
          <i class="green play icon"></i> Games Played: {{ player.gamesPlayed }}
        </p>
        <p>
          <i class="trophy icon" [class.green]="player.wins > 0" [class.grey]="player.wins < 1"></i> Wins: {{ player.wins }}
        </p>
        <p>
          <i class="grey crosshairs icon"></i> Top 10%: {{
          player.percentiles.top10 }}
        </p>
        <p>
          <i class="grey crosshairs icon"></i> Top 20%: {{
          player.percentiles.top20 }}
        </p>
        <p>
          <i class="grey crosshairs icon"></i> Top 50%: {{
          player.percentiles.top50 }}
        </p>
      </div>
    </div>
  </a>
  <div class="item" *ngIf="hiddenPlayers">
    <div class="content">
      <p class="white">+{{ hiddenPlayers}} more players...</p>
    </div>
  </div>
</div>
