:host {
  overflow: hidden;
}

.ui.inverted.segment {
  padding-bottom: 0;
}

.ui.inverted.list {
  margin: 0;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;

  .item {
    padding: 0.5em 1em;
    display: flex;
    flex: 1 0 50px;
    position: relative;

    &.dead {
      background: rgba(200, 50, 50, 0.2);

      &:hover {
        background: rgba(200, 50, 50, 0.3);
      }
    }

    &.winner {
      background: rgb(37, 126, 37);

      &:hover {
        background: rgb(45, 150, 45);
      }
    }

    &:hover {
      &:not(.dead, .winner) {
        background: rgb(46, 46, 46);
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .image-container {
      flex: 0 0 45px;
    }

    .ui.image {
      width: 37px;
      height: 37px;
      background: #545454;
    }

    .header {
      white-space: nowrap;
    }

    .flag {
      margin-right: 5px;
    }

  }

}

.my-name {
  color: rgb(48, 231, 231);
}

.white {
  color: white;
}

.ui.list .list>a.item .user i.icon,
.ui.list>a.item i.icon {
  color: grey;
}

.player.info {
  display: inline;
  padding: 2px;
  margin-right: 3px;
}

.description {
  margin-top: 3px;
}

.ui.label.stream {
  position: absolute;
  right: 5px;
  i {
    animation: pulse 2s infinite;
    border-radius: 50%;
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 44, 44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204, 44, 44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204, 44, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 44, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 44, 44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204, 44, 44, 0);
      box-shadow: 0 0 0 10px rgba(204, 44, 44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204, 44, 44, 0);
      box-shadow: 0 0 0 0 rgba(204, 44, 44, 0);
  }
}
