.ui.segment.footer {
  margin-top: 5em;
  padding: 3em 0;
  border-radius: 0;
  background: #191b1f;

  .grid {
    margin: 0;
    display: flex;
    justify-content: space-around;
  }

  p {
    color: rgba(255, 255, 255, 0.4);
  }
}

.white {
  color: white;
}
