<div class="ui inverted container section">
  <div class="ui grid">
    <div class="fourteen wide column">
      <h1 class="ui inverted header">Matches</h1>
    </div>
    <div class="two wide right aligned column">
      <i class="large redo link icon" (click)="fetch()"></i>
    </div>
  </div>

  <h2>Open Matches</h2>
  <div *ngIf="!joinableGames.length" class="ui inverted segment">
    <p>
      No matches are open to join at the moment
    </p>
  </div>
  <app-lobbies-list [lobbies]="joinableGames"></app-lobbies-list>

  <h2 *ngIf="inProgressGames.length">In Progress Matches</h2>
  <app-lobbies-list class="inprogress" [lobbies]="inProgressGames"></app-lobbies-list>

  <h3 *ngIf="completedGames.length">Recently Finished Matches</h3>
  <app-lobbies-list class="finished" [lobbies]="completedGames"></app-lobbies-list>
</div>
