<div class="ui inverted container section">
  <h1 class="ui inverted header">Matches</h1>

  <h2>Open Matches</h2>
  <p *ngIf="!joinableGames.length">No games are open at the
    moment</p>
  <app-lobbies-list [lobbies]="joinableGames"></app-lobbies-list>

  <h2 *ngIf="inProgressGames.length">In Progress Matches</h2>
  <app-lobbies-list [lobbies]="inProgressGames"></app-lobbies-list>

  <h3 *ngIf="completedGames.length">Finished Matches</h3>
  <app-lobbies-list [lobbies]="completedGames"></app-lobbies-list>
</div>
