<div class="ui inverted padded segment">
  <h3>{{ title }}</h3>
  <p>{{ message }}</p>
</div>

<div class="ui inverted center aligned padded red segment"
  *ngIf="inGame && !isAlive && game.status !== 'new'">
  <div class="ui icon header">
    <i class="crosshairs icon"></i>
    You have been eliminated from the match.
    <br>
    You finished {{ rank | ordinal }} out of {{ totalPlayers }} players.
  </div>
  <p>You may continue watching this game or join another one.</p>
</div>

<div class="ui inverted center aligned padded green segment"
  *ngIf="game.winningUser && game.winningUser && game.winningUser.username === mePlayer.username">
  <div class="ui icon header">
    <i class="yellow trophy icon"></i>
    Congratulations!
    <br>
    You won the match!
  </div>
</div>
