.ui.inverted.segment {
  border-radius: 0;
  background: #0c4546;
}

p {
  white-space: pre-wrap;
}

.ui.icon.header {
  margin-bottom: 0;
}

.ui.inverted.red.segment {
  background: #4a0d6f !important;
}

.ui.inverted.green.segment {
  background: #193e19 !important;
}

.rank-restrictions p {
  margin: 0;
}
