.achievement {
  height: 100%;
  background: #3a4e6b !important;

  .icon {
    margin: 14px 0;
  }

  h3 {
    margin: 0;
    font-size: 1em;
  }
}

.ui.inverted.segment {
  h5 {
    margin-bottom: 3px;
  }

  h3 {
    margin-top: 14px;
  }
}

.ui.inverted.blue.table {
 background: #263642 !important; 
}