.achievement {
  height: 100%;
  background: #3a4e6b !important;

  .icon {
    margin: 14px 0;
  }

  h3 {
    margin: 0;
    font-size: 1em;
  }
}

.result {
  margin: 0;
  padding: 5px 0 !important;
  cursor: pointer;

  h3 {
    color: white;
  }

  .icon {
    margin-right: 10px;
  }

  .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .result-main {
    flex-grow: 1;
  }
}
