.achievement {
  height: 100%;
  background: #3a4e6b !important;

  .icon {
    margin: 14px 0;
  }

  h3 {
    margin: 0;
    font-size: 1em;
  }
}

.result {
  margin: 0;
  padding: 5px 0 !important;
  cursor: pointer;

  h3 {
    color: white;
  }

  .icon {
    margin-right: 1rem;
    margin-top: -8px;
  }

  .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 1rem;
    padding: 1rem 1.5rem;
  }

  .elo {
    &.green {
      color: #71be6a;
    }

    &.red {
      color: #ff7171;
    }
  }

  .result-main {
    flex-grow: 1;
  }

  .game-date {
    font-size: 0.85rem;
    color: #8f8f8f;
  }
}

.username {
  padding-bottom: 30px;
  h1 {
    display: inline-block;
    padding-left: 20px;
    font-size: 36px;
    margin-top: 0;
    vertical-align: middle;
  }
  img {
    border-radius: 15%;
    vertical-align: middle;
  }
}
