@import "~@ctrl/ngx-emoji-mart/picker";

body {
  margin: 0;
  padding: 0;
  background: #313030 !important;
  color: rgba(255, 255, 255, .9);

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
  }
}

.ui.inverted.segment.no-bg {
  border-radius: 0 !important;
  background: none !important;
}

.text-muted {
  margin-left: 5px;
  color: grey !important;
  font-size: 0.8em;
}

.emoji-mart {
  position: absolute;
  bottom: 25px;
  right: 0px;
}

.yellow {
  color: yellow !important;
}

.container.section {
  margin-top: 40px;
}

.description.chat-message {
  img {
    vertical-align: middle;
  }
}
