<div class="ui inverted menu" *ngIf="showMenu">
  <a [routerLink]="'/'" class="item">
    <img src="/assets/osustuff-colors.png" alt="">
    <b>osuStuff</b>
  </a>
  <a class="item" [class.active]="url === '/lobbies'" [routerLink]="'/lobbies'">
    <i class="play icon"></i>
    Play
  </a>
  <a class="item" [class.active]="url === '/leaderboard'" [routerLink]="'/leaderboard'">
    <i class="trophy icon"></i>
    Leaderboard
  </a>

  <div class="right menu">
    <a class="item" [routerLink]="'/login'" *ngIf="!currentUsername">
      <i class="sign-in icon"></i>
      Log In
    </a>
    <a *ngIf="currentGame" class="item" [routerLink]="['/lobbies/', currentGame.gameId]">
      <i class="large orange play circle outline icon"></i>
      Continue Game
    </a>
    <a *ngIf="currentUsername" class="item" [routerLink]="['/user/', currentUsername]">
      <i class="user icon"></i>
      {{ currentUsername }}
    </a>
    <a class="icon link item" href="https://discord.gg/wFxEaE9">
      <i class="large discord icon"></i>
    </a>
  </div>
</div>
<router-outlet></router-outlet>

<div *ngIf="isAdmin && url === '/lobbies'">
  <div style="position: absolute; top: 0; right: 100px; z-index:999;" class="ui mini button" (click)="clearDb()">Clear
    DB
  </div>
</div>

<app-notifications></app-notifications>

<app-footer *ngIf="showMenu"></app-footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-80879723-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'UA-80879723-2');

</script>
