.ui.menu {
  margin-top: 0;
  margin-bottom: 0;
  background: #3e4e69;
  overflow-x: auto;

  img {
    height: 30px;
    width: auto;
    margin-right: 3px;
  }

  #login {
    img {
      border-radius: 15%;
      margin-bottom: -10px;
      margin-top: -10px;
      margin-right: 11px;
      // HAHAHAHAHA ITS SO STUPID BUT IT WORKS
    }
  }
}
