<div class="ui inverted menu" *ngIf="showMenu">
  <a [routerLink]="'/'" class="item">
    <img src="/assets/osustuff-colors.png" alt="">
    <b>osuStuff</b>
  </a>
  <a class="item" [class.active]="url === '/lobbies'" [routerLink]="'/lobbies'">
    <i class="play icon"></i>
    Play
  </a>
  <a class="item" [class.active]="url === '/leaderboard'"
    [routerLink]="'/leaderboard'">
    <i class="trophy icon"></i>
    Leaderboard
  </a>
</div>
<router-outlet></router-outlet>

<div *ngIf="isAdmin && url === '/'">
  <div style="position: absolute; top: 0; right: 100px; z-index:999;"
    class="ui mini button" (click)="clearDb()">Clear DB
  </div>
</div>
