<div class="ui inverted segment no-bg">
  <div class="ui equal width inverted divided grid">
    <div class="column">
      <h5>Lobby Name</h5>
      osu! Battle Royale
    </div>
    <div class="column">
      <h5>Status</h5>
      {{ status }}
    </div>
    <div class="column" *ngIf="game.status === 'complete'">
      <h5>Winner</h5>
      {{ game.winningUser ? game.winningUser.username : 'No one won!' }}
    </div>
    <div class="column">
      <h5>Round</h5>
      {{ game.roundNumber || '-' }}
    </div>
    <div class="column">
      <h5>Time left</h5>
      {{ timeLeft }}
    </div>
  </div>
</div>
