:host {
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #322835;
}

.ui.segment {
  margin: 0 !important;
}

.ui.inverted.segment.list-container {
  padding: 1em 1em 2em !important;
  border-radius: 5px !important;
  display: flex;
  flex: 1;
  flex-direction: column;
}

h4,
h5,
p {
  margin: 0;
}

.title {
  font-weight: 700;
  text-align: center;
  margin: 10px;
  margin-left: 0;
  float: left;
  width: 60px;
}

p {
  font-weight: normal !important;
}

.ui.inverted.list {
  overflow-y: auto;
  flex: 1 1 250px;

  .beatmap-image-container {
    width: 54px;
    float: left;
    margin-right: 20px;
    height: 42px;
    background: #332f2f;

    img {
      height: 100%;
      width: auto;
    }
  }

  a:visited {
    color: #deabeb !important;
  }

  .item a:not(.ui):hover {
    color: #fff !important;
  }
}
